body,
html {
	height: 100%;
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #121212;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.container {
	width: 90%;
	max-width: 600px;
}

h1 {
	font-size: 2.5em;
	color: #0af;
}
.blur-effect {
	filter: blur(2px);
	pointer-events: none;
}

#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 5px;
}

p {
	font-size: 1.2em;
	margin-bottom: 20px;
	color: #aaa;
}

.input-group {
	margin-bottom: 20px;
}

input[type="email"],
textarea {
	width: 100%;
	padding: 10px;
	margin-top: 8px;
	border: none;
	border-radius: 5px;
	background-color: #333;
	color: white;
	box-sizing: border-box;
	font-size: 16px;
}

label {
	float: left;
	color: #ccc;
}

button {
	background-color: #0af;
	color: white;
	border: none;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #08d;
}


